<?xml version="1.0" encoding="UTF-8"?>
<data>
    <event start="2010-02-06" title="Lot's of snow" link=""/>
    <event start="2010-07-24" title="Gas price goes through the roof." link=""/>
    <event start="2011-01-10" title="Job action announced." link=""/>
    <event start="2011-04-01" title="April 1st... no joke." link=""/>
    <event start="2011-10-11" title="Michael's birthday!" link=""/>
    <event start="2013-01-02" title="Snow is really bad." link=""/>
    <event start="2013-02-04" title="Nicole joins BI team." link=""/>
    <event start="2013-03-19" title="Mayhem on the roads." link=""/>
</data>


